// breakpoints
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

// tag colors
$color-tag-impact: #ad927d;
$color-tag-asset: #ff4085;
$color-tag-onboarding: #d44c96;
$color-tag-misc: #00b5d3;
$color-tag-funding: #e7c200;
$color-tag-greenlight: #1aab9b;
$color-tag-oracle: #8f2ec1;
$color-tag-risk: #ef5277;
$color-tag-deposit: #635696;
$color-tag-technical: #4e3dd1;
// background
$color-tag-background: #121212;

// voting colors
$color-vote-p: #1dc1ae;
$color-vote-a: #eb7720;
$color-bar: #282f3a;

// text colors

$color-text-title: #d7c9ea;
$color-text-body: #7e7e88;
$color-text-other: #5d8dfc;
$color-text-warn: #f75524;
$color-text-data: #d7c9ea;

// buttons colors
$color-details: #d7c9ea;
$color-nav-p: #1dc1ae;
$color-nav-s: #0088cc;

// main colors
$color-card: #000000;
$color-background: #141414;
