@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;

.forum {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-text-warn;
}
