@use "../../styles/partials/resets";
@use "../../styles/partials/variables" as *;

.footer {
  padding: 2em;
  display: flex;
  flex-direction: column;

  &__title {
    font-size: 0.7em;
    margin-bottom: 2em;
    & h2 {
      margin: 0 auto;
      display: flex;
      justify-content: center;
    }
  }

  &__socials {
    width: 50%;
    & img {
      margin-left: 2em;
    }
  }
  &__lower {
    display: flex;
    justify-content: space-around;
  }
  &__logo {
    filter: invert(73%) sepia(34%) saturate(3956%) hue-rotate(123deg)
      brightness(93%) contrast(77%);
    & img {
      width: 3em;
    }
  }
}
